@model IEnumerable<TipanJ_ExamenProgreso1.Models.Cliente>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiasHospedaje)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaDeNacimiento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PuntuacionServicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DescuentorPorRecomendacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reserva)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiasHospedaje)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaDeNacimiento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PuntuacionServicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescuentorPorRecomendacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reserva.IdReserva)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdCliente">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdCliente">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdCliente">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
